<main class="main-container">
  <header class="header">
    <h1 class="logo">
      <img
        ngSrc="assets/images/logo.svg"
        height="54"
        width="87"
        priority
        alt="logo"
      />
    </h1>
  </header>
  <article class="calculator">
    <section class="form-container">
      <app-input
        label="Bill"
        placeholder="0"
        icon="icon-dollar"
        [(value)]="billAmount"
      />
      <div class="tip-selector">
        <label class="select-label">Select Tip %</label>
        <div class="tip-selector-buttons">
          @for (selector of tipSelectors; track selector) {
          <app-button
            [label]="selector + '%'"
            [isActive]="selector === tip()"
            (click)="handleTipSelection(selector)"
          />
          }

          <app-input #input placeholder="Custom" [(value)]="tip" />
        </div>
      </div>
      <app-input
        label="Number of People"
        placeholder="0"
        icon="icon-person"
        [(value)]="persons"
      />
    </section>
    <section class="result-container">
      <app-result-viewer
        text="Tip Amount"
        subText="person"
        [value]="this.tipAmountPerPerson() | infinity"
      ></app-result-viewer>
      <app-result-viewer
        data-test-id="result"
        text="Total"
        subText="person"
        [value]="this.totalAmount() | infinity"
      ></app-result-viewer>
      <app-button
        class="reset-button"
        label="Reset"
        type="secondary"
        (click)="handleReset()"
      />
    </section>
  </article>
</main>
